.proyectos__contenedor {
    gap: 2rem;
    display: flex;
    margin-top: 20px;
    padding-left: 150px;
    padding-right: 150px;
    flex-direction: column;
    box-sizing: border-box;
}

.proyecto__item {
    gap: 1rem;
    display: flex;
    height: 200px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0px 0px 26px rgba(0, 0, 0, 0.8);
}

.proyecto__foto {
    flex: 1;
}

.proyecto__img {
    width: 100%;
    height: 100%;
    opacity: 0.8;
    border-radius: 10px;
    object-fit: fill;
}

.proyecto__detalles {
    flex: 2;
    display: flex;
    color: white;
    flex-direction: column;
    justify-content: space-evenly;
}

.proyecto__encabezado {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.proyecto__tipo-container {
    display: flex;
    gap: 8px;
}

.proyecto__tipo {
    padding: 2px 5px;
    border-radius: 5px;
    width: fit-content;
    font-size: 13px;
    font-weight: normal;
    letter-spacing: 1px;
    background-color: #7A1CAC;
}

.proyecto__btnDetalles {
    border: none;
    color: white;
    font-weight: 200;
    padding: 5px 15px;
    border-radius: 10px;
    text-decoration: none;
    background-color: #d81b60;
    transition: transform ease 0.5s;
}

.proyecto__btnDetalles:hover {
    transform: scale(1.1);
}

.proyecto__nombre {
    font-weight: 200;
    margin: 0;
}

.proyecto__descripcionl {
    font-size: 15px;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* Número de líneas a mostrar */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    color: rgb(158, 157, 157);
}

.proyecto__tecnologias {
    display: flex;
    gap: 7px;
}

.proyecto__lenguajel {
    gap: 5px;
    padding: 5px;
    display: flex;
    font-size: 14px;
    border-radius: 8px;
    align-items: center;
    box-sizing: border-box;
    justify-content: center;
    color: rgb(202, 200, 200);
    background-color: #15171C;
    transition: transform 0.5s ease;
}

.icono__lenguajel {
    font-size: 25px;
}

/* ---------------- Responsive Design Projects --------------- */
@media(max-width: 480px) {

    .proyectos__contenedor {
        padding-left: 5px;
        padding-right: 5px;
    }

    .proyecto__item {
        flex-direction: column;
        height: auto;
        max-width: 350px;
        overflow: hidden;
    }

    .proyecto__detalles {
        gap: 10px;
    }

    .proyecto__tecnologias {
        overflow-x: auto;
    }

    .proyecto__lenguaje i,
    p {
        font-size: 13px;
    }

    .proyecto__lenguaje>p {
        white-space: nowrap;
    }
}

@media(max-width: 1024px) {
    .proyectos__contenedor {
        padding-left: 5px;
        padding-right: 5px;
    }

    .proyecto__item {
        flex-direction: column;
        height: auto;
        overflow: hidden;
    }

    .proyecto__detalles {
        gap: 10px;
    }

    .proyecto__lenguaje i,
    p {
        font-size: 14px;
    }
}

@media(mix-width: 1280px) {
    .proyectos__contenedor {
        padding-left: 10px;
        padding-right: 10px;
    }

    .proyecto__item {
        height: auto;
        overflow: hidden;
    }
}

@media(min-width: 1500px) {
    .proyectos__contenedor {
        padding-left: 5%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        padding-right: 5%;
    }

    .proyecto__item {
        display: flex;
        flex-direction: column;
        height: auto;
        overflow: hidden;
    }

    .proyecto__detalles {
        gap: 5px;
    }

    .proyecto__tecnologias {
        overflow-x: auto;
    }
}