.skills {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    color: white
}

.skills__category {
    display: flex;
    flex-direction: column;
    width: inherit;
    height: inherit;
    margin-top: 25px;
    padding-bottom: 25px;
    box-sizing: border-box;
    border-bottom: 1px solid rgb(34, 34, 34);
}

.skills__block {
    width: inherit;
    height: inherit;
}

.skills__block-titulo {
    text-align: center;
    position: relative;
    font-weight: 200;
    color: white;
    font-size: 2rem;
}

.skills__block-items {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
    gap: 5px;
}

.skills__item {
    margin: 15px;
    max-width: 330px;
    min-width: 300px;
    height: 15vh;
    object-fit: contain;
    box-sizing: border-box;
    padding: 20px;
    background-color: #15171C;
    border-radius: 10px;
    transition: transform 0.5s ease;
    justify-self: center;
    align-self: center;

}

.skills__item:hover {
    transform: translateY(-.40rem);
}


/* ---------------- Responsive Design --------------- */


@media (min-width: 750px) {
    .skills__category {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: auto;
    }

    .skills__item {
        justify-self: center;
        align-self: center;
    }

    .skills__item {
        width: 400px;
    }
}

@media (min-width: 1000px) {
    .skills__category {
        flex-direction: row;
    }

    .skills__item {
        justify-self: center;
        align-self: center;
    }
}


@media (max-width: 750px) {
    .skills__category {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: auto;
    }
}

@media (max-width: 650px) {
    .skills__item-small {
        width: 250px;
        padding: 5px;
        margin: 8px;
    }
}

@media (max-width: 600px) {
    .skills__item-small {
        width: 350px;
    }
}

@media(max-width: 400px) {

    .skills__item,
    .skills__item-small {
        width: 220px;
    }
}