.container {
    display: flex;
    flex-direction: row;
    height: 100vh;
    width: 100%;
}

.menu {
    width: 70px;
    text-align: center;
}

.menu__logo {
    height: 45px;
    margin-bottom: 18px;
}

.menu__opciones {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    list-style: none;
    width: 100%;
}

.menu__secciones {
    font-size: 25px;
    box-sizing: border-box;
    padding: 10px 15px;
    transition: all ease 0.4s;
    cursor: pointer;
    text-decoration: none;
    color: white;
    width: 100%;
}

.menu__secciones:hover {
    background: linear-gradient(145deg, #3c3c3c, #1c1c1c);
    color: gray;
}

.menu__secciones.active {
    background: linear-gradient(145deg, #141414, #202020);
    color: #7A1CAC;
}


.principal {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.principal__header {
    width: 100%;
    height: 50px;
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    /* position: static */
}


.principal__titulo {
    font-size: 18px;
}

.principal__flechas {
    font-size: 25px;
    display: flex;
    margin-left: 20px;
    border-radius: 5px;
    background: linear-gradient(145deg, #1f1e1e, #1c1c1c);
    transition: all ease 0.9s;
}

.principal__flechas i:hover {
    border-radius: inherit;
    background-color: #3c3c3c;
    cursor: pointer;
}

.principal__header--modo {
    margin-right: 20px;
    font-size: 25px;
}

.principal__secciones {
    /* background: linear-gradient(145deg, #3c3c3c, #1c1c1c); */
    /* background: linear-gradient(145deg, #4c2a85, #5a3d91); */
    /* background: linear-gradient(145deg, #3c3c3c, #5a3d91); */
    /* background: linear-gradient(145deg, #5a3d91, #e91e63); */
    /* background: linear-gradient(130deg, #4c2a85, #d81b60); */
    /* background: linear-gradient(145deg, #d81b60, #e91e63); */
    background-color: #0F1014;
    height: 100%;
    border-radius: 10px;
    margin-bottom: 8px;
    margin-right: 8px;
    overflow-y: auto;
    /* box-shadow: 0 0 10px rgba(41, 41, 41, 0.1); */
    /* box-shadow: 0px 1px 10px #09090e; */
    outline: 1px solid #1c1c1c;
}

.principal__secciones {
    --scrollbar-width: 10px;
    --scrollbar-height: 10px;
    --scrollbar-border-thickness: 0px;
    --scrollbar-border-radius: 4px;
    --scrollbar-track-color: #272626;
    --scrollbar-thumb-color: #15171C;
}

.principal__secciones::-webkit-scrollbar {
    width: var(--scrollbar-width, 20px);
    height: var(--scrollbar-height, 20px);
}

.principal__secciones::-webkit-scrollbar-thumb {
    background: var(--scrollbar-thumb-color, #3B82F6);
    border: var(--scrollbar-border-thickness, 3px) solid var(--scrollbar-border-color, rgb(255, 255, 255));
    border-radius: var(--scrollbar-border-radius, 4px);
}

.principal__secciones::-webkit-scrollbar-track {
    background: var(--scrollbar-track-color, #A1A1AA);
}

.principal__secciones::-webkit-scrollbar-corner {
    background: var(--scrollbar-corner-color, #FFFFFF);
    border: var(--scrollbar-border-thickness, 3px) solid var(--scrollbar-border-color, rgb(255, 255, 255));
    border-radius: var(--scrollbar-border-radius, 4px);
}

.principal__secciones::-webkit-scrollbar-button:vertical:start:increment,
#preview::-webkit-scrollbar-button:vertical:end:decrement,
#preview::-webkit-scrollbar-button:horizontal:start:increment,
#preview::-webkit-scrollbar-button:horizontal:end:decrement {
    display: var(--show-double-buttons, none);
}

.contenido {
    padding: 10px;
    box-sizing: border-box;
    height: 100%;
}